.tabs {
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);

    &_profile {
        box-shadow: none;
    }
}

/*EDITED PLUGIN STYLES*/
.ui-widget.ui-widget-content {
    border: none;
    padding: 0;
    font-family: inherit;
}
  
.ui-tabs .ui-tabs-panel {
    padding: 0;
  }
  
.ui-tabs-panel .syllabus__header {
    border-radius: 0;
}
  
.ui-tabs-panel .syllabus__header-fade {
    border-radius: 0;
}
  
.ui-tabs .ui-tabs-nav {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    padding: 0;
}
  
.ui-tabs .ui-tabs-nav li {
    border: none;
    background-color: transparent;
  
    a {
        position: relative;
        bottom: -1px;
        padding: 20px 25px !important;
        padding-bottom: 17px;
        border-bottom: 3px solid transparent;
        @include HelveticaNeue-Bold(16px, 1);
        color: $warm-grey-two;
        outline: none;
    }
}
  
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    border-color: $sunflower-yellow !important;
    color: $dark-grey !important;
}

// custom styles for tabs in profile page
.tabs_profile {
    position: relative;
    

    & .ui-tabs-tab {
        &:first-child {
            margin-left: 30.4%;
        }
    }

    & .ui-tabs-panel {
        min-height: 200px;
    }
}

@media (max-width: $sm) {
    .tabs {
        margin-left: -15px;
        margin-right: -15px;
        box-shadow: none;
    }

    .ui-tabs .ui-tabs-nav li a {
        padding: 15px !important;
        font-size: 14px;
    }
}

@media (max-width: $xs) {
    .ui-tabs .ui-tabs-nav li a {
        padding: 13px !important;
        font-size: 13px;
    }
}