<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PLAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/normalize.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body>

    <section class="review">
        <article class="review__item">
            <p class="review__title">“Maxkravmaga is an essential training tool -
                <span>extremely thorough, clear and precise</span>”</p>
            <p class="review__text">“To truly excel in Krav Maga ( or any other martial art or form of self defense ) you must constantly train.
                The techniques and tactics of the system must become second nature to you. MaxKravMaga is an essential training
                tool for those looking to continuously improve their skills and attain a top level grasp of Krav Maga. In
                putting together MaxKravMaga, Eyal has created an extremely thorough, clear and precise online video training
                system. Here in the UK, all of my instructors are members of MaxKravMaga. This ensures they stay up to date
                with the techniques which they then go and teach their students. For students here in the UK, MaxKravMaga
                has become a widely popular training tool which they use to prepare for level grading as well as to sharpen
                up on techniques on a day to day basis.”
            </p>
            <div class="review__author">
                <img class="review__author-img" src="img/default.jpg">
                <div class="review__author-bio">
                    <div class="review__stars">
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                    </div>
                    <p class="review__author-name">Jon Bullock / KMG UK Director</p>
                    <p class="review__author-level">KMG level: Expert 2</p>
                </div>
            </div>
        </article>
        <article class="review__item">
            <p class="review__title">“Maxkravmaga is an essential training tool -
                <span>extremely thorough, clear and precise</span>”</p>
            <p class="review__text">“To truly excel in Krav Maga ( or any other martial art or form of self defense ) you must constantly train.
                The techniques and tactics of the system must become second nature to you. MaxKravMaga is an essential training
                tool for those looking to continuously improve their skills and attain a top level grasp of Krav Maga. In
                putting together MaxKravMaga, Eyal has created an extremely thorough, clear and precise online video training
                system. Here in the UK, all of my instructors are members of MaxKravMaga. This ensures they stay up to date
                with the techniques which they then go and teach their students. For students here in the UK, MaxKravMaga
                has become a widely popular training tool which they use to prepare for level grading as well as to sharpen
                up on techniques on a day to day basis.”
            </p>
            <div class="review__author">
                <img class="review__author-img" src="img/default.jpg">
                <div class="review__author-bio">
                    <div class="review__stars">
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                        <i class="review__star"></i>
                    </div>
                    <p class="review__author-name">Jon Bullock / KMG UK Director</p>
                    <p class="review__author-level">KMG level: Expert 2</p>
                </div>
            </div>
        </article>
    </section>

</body>

</html>