.appeal {
    display: flex;
    justify-content: space-between;
    color: $charcoal;

    &_landing {
        margin-bottom: 50px;
    }

    &_bordered {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: rgba($sunflower-yellow, 0.1);
        border: 1px solid $sunflower-yellow;
    }

    &__content {
        width: calc( 100% - 400px );
        padding: 50px;
    }

    &__title {
        margin-bottom: 10px;
        @include AvenirNext-Bold(22px, 1.2);

        &_bold {
            margin-bottom: 15px;
            font-size: 28px;
        }
    }

    &__text {
        margin-bottom: 20px;
        @include AvenirNext-Regular(18px, 1.2);

        &_bold {
            @include AvenirNext-Bold(18px, 1.2);
        }
    }

    &__img {
        width: 338px;

        img {
            width: 100%;
            margin-top: -10px;
            margin-left: -10px;
        }
    }

    &__signup {
        padding: 20px 0;
        padding-right: 120px;
        @include AvenirNext-Regular(18px, 1.2);

        span {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 103px;
                height: 57px;
                margin-left: 10px;
                background-image: url('../img/sales-pages/signature.png');
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }

        &_centered {
            text-align: center;
        }

        &_xs {
            display: none;
        }
    }
}

.appeal-title-block {
    margin: 0 auto;
    margin-bottom: 48px;
    width: 60%;
    text-align: center;
    color: $dark-grey;

    &__title {
        margin-top: 0;
        margin-bottom: 5px;
    }

    &__desc {
        width: 72%;
        margin: 0 auto;
        font-size: 22px;
    }

    &__marked {
        font-weight: bold;
        border-bottom: 1px solid $sunflower-yellow;
    }
}

.appeal-wrapper {
    &_home-long {
        margin-bottom: 70px;
    }
}

@media (max-width: $lg) {
    .appeal {
    
        &_bordered {
            width: 100%;
        }
    
        &__content {
            padding: 35px;
        }
    
        &__signup {
    
            &_centered {
                text-align: right;
            }
        }
    }
}

@media (max-width: $md) {
    .appeal {
    
        &__title {
            font-size: 20px;
    
            &_bold {
                font-size: 24px;
            }
        }

        &__content {
            width: calc( 100% - 300px );
            padding-left: 7px;
            padding-right: 20px;
            padding-bottom: 21px;
        }
    
        &__img {
            width: 280px;

            img {
                margin-top: -10px;
                margin-left: -23px;
                height: calc(100% + 10px);
                display: block;
            }
        }
    }

    .appeal-title-block {
        margin-bottom: 10px;
        width: 80%;
    
        &__title {
            font-size: 34px;
        }
    
        &__desc {
            width: 80%;
            margin-bottom: 39px;
            font-size: 18px;
        }
    
        &__marked {
            font-weight: bold;
            border-bottom: 1px solid $sunflower-yellow;
        }
    }
    
    .appeal-wrapper {
        &_home-long {
            margin-bottom: 45px;
        }
    }
}

@media (max-width: $sm) {
    .appeal {

        &_bordered {
            margin-bottom: 0;
        }

        &_mobile-hidden {
            display: none;
        }

        &__content {
            box-sizing: border-box;
            width: 100%;
            padding: 25px;
        }
    
        &__title {
            font-size: 18px;
            text-align: center;
    
            &_bold {
                font-size: 18px;
            }
        }

        &__text {
            margin-bottom: 10px;
            font-size: 16px;
            text-align: center;
    
            &_bold {
                font-size: 16px;
            }
        }
    
        &__img {
            display: none;
        }

        &__signup {
            &_lg {
                display: none;
            }
    
            &_xs {
                display: flex;
                padding-bottom: 0;
                padding-right: 0;
            }
        }

        &__signup-img-xs {
            width: 66px;
            height: 66px;
            margin-right: 10px;
            overflow: hidden;

            img {
                width: 90%;
            }
        }

        &__signup-desc-xs {
            position: relative;
            width: calc( 100% - 76px );
            padding-top: 5px;
            padding-bottom: 30px;
            font-size: 14px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 49px;
                height: 27px;
                margin-left: 0;
                background-image: url('../img/sales-pages/signature.png');
                background-repeat: no-repeat;
                background-size: 100%;
            }

            b {
                display: block;
            }
        }
    }

    .appeal-title-block {
        display: none;
    }
}