<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>APPEAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/normalize.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body>

    <div class="appeal">
        <div class="appeal__img">
            <img src="http://via.placeholder.com/333x603">
        </div>
        <div class="appeal__content">
            <p class="appeal__title">Dear KMG Directors, Representatives and School Owners:</p>
            <p class="appeal__text">
                Welcome to the new MaxKravMaga Affiliate Program. MaxKravMaga is the official online training program of KMG established
                by Eyal in 2010. Through the years we've had thousands of KMG members from all over the world sign up to
                our online training program as a way to enhance their KMG training.
            </p>
            <p class="appeal__text">
                We've revamped our entire affiliate system to ensure ease of use and extremely accurate tracking methods. Our easy-to-use
                affiliate center provides multiple tools and techniques that will help you start earning money right away.
                All the affiliate marketing tools are at the tip of your fingers and can be put into action with little or
                no prior experience necessary.
            </p>
            <p class="appeal__text">
                As a member of our affiliate program you can create an additional revenue stream by referring your students to our program.
                When your referrlas sign up to MaxKravMaga you receive a 20% commision on their membership fees for as long
                as they are a member with us. You receive commisions for the lifetime of their membership, not just for the
                initial sign up.
            </p>
            <div class="appeal__signup appeal__signup_lg">- Eyal Yanilov</div>
            <div class="appeal__signup appeal__signup_xs">
                <img class="appeal__signup-img-xs">
                <div class="appeal__signup-desc-xs">
                    <b>Eyal Yanilov,</b>
                    <i>Founder of MaxKravMaga.com</i>
                </div>
            </div>
        </div>
    </div>

</body>

</html>