.plan {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 80px;

    &_margin-bottom-long {
        margin-bottom: 180px;
    }

    &__item {
        box-sizing: border-box;
        width: 390px;
        padding: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
        text-align: center;
        @include shadow;
        background-color: $white;
        border: 1px solid $white-five;

        &_large {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 0;
            margin: 0;
            margin-left: -5px;
            border-color: $sunflower-yellow;
        }

        &-btn {
            padding: 18px;
            
            span {
                position: relative;

                &::after {
                    content: '→';
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    right: -25px;
                    -webkit-transition: all 0.3s ease-in;
                    transition: all 0.3s ease-in;
                }
            }
        }
    }

    &__item-name {
        margin-bottom: 15px;
        @include AvenirNext-Bold(19px, 1.1);
        color: $dark-grey;
    }

    &__item-desc {
        margin-top: 20px;
        margin-bottom: 30px;
        @include AvenirNext-Regular(14px, 1);
        color: $dark-grey;
    }

    &__item-btn {
        min-width: 75%;
        background-color: transparent;
        border: 1px solid $white-five;
        font-size: 20px;
        text-transform: none;
        @include trans(0.2s);

        &_yellow {
            padding-right: 40px;
            background-color: $sunflower-yellow;
            border-color: $sunflower-yellow;
            @include shadow;
        }
    }

    &__switch {
        display: none;
    }

    &__item_year {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -73px;
            right: -150px;
            width: 270px;
            height: 85px;
            background-image: url('../img/sales-pages/7-months-free.svg');
            background-repeat: no-repeat;
        }

        &-bottom {
            &::after {
                background-image: url('../img/sales-pages/pricing-quote.svg');
                right: 200px;
                bottom: -110px;
            }
        }
    }

    // styles for plan block in popup
    &_popup {
        margin-bottom: 98px;

        & .plan__item {
            width: 280px;
        }

        & .plan__item_year {
            &::after {
                content: none;
            }
        }

        & .discount-mark {
            position: relative;
            top: -26px;

            &__block {
                background: white;
            }

            &__block_yellow {
                background: #ffd001;
            }
        }
    }
}

@media (max-width: $md) {
    .plan {
        margin-bottom: 50px;

        &_margin-bottom-long {
            margin-bottom: 110px;
        }
    
        &__item {
           width: auto;
           flex-grow: 1;

           &-btn {
            padding: 15px;
           }
        }

        &__item_year {
    
            &::after {
                right: 0;
            }

            &-bottom {
                &::after {
                    bottom: -85px;
                    right: 20px;
                    transform: rotate(-10deg);
                }
            }
        }
    }
}

@media (max-width: $sm) {
    .plan {
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding-bottom: 0;
    
        &__item {
           width: 100%;
           margin: 0;
           padding: 23px 29px;
           padding-top: 35px;

           &_large {
               background-color: rgba($sunflower-yellow, 0.12);
           }

           &_month {
               display: none;
           }
        }

        &__item-desc {
            margin-top: 18px;
            margin-bottom: 23px;
        }

        &__switch {
            position: relative;
            z-index: 1;
            display: flex;
            margin-bottom: -20px;
            padding: 3px;
            background-color: $sunflower-yellow;
            border-radius: 40px;

            &-btn {
                padding: 7px 10px;
                border-radius: 40px;
                @include AvenirNext-Bold(13);
                color: rgba($dark-grey, 0.6);
                cursor: pointer;

                &_active {
                    background-color: $white;
                    color: $dark-grey;
                    transition: all 0.4s ease;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: -30px;
                right: -53px;
                width: 55px;
                height: 55px;
                background-image: url('../img/sales-pages/save-60.svg');
                background-repeat: no-repeat;
            }
        }

        &__item_year {
    
            &::after {
                display: none;
            }
        }

        &_popup {
            & .plan__item {
                width: 100%; 
            }

            & .plan__switch {
                &::after {
                    content: none;
                }
            }
        }
    }
}