<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PLAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/normalize.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body>

    <div class="plan">
        <div class="plan__switch">
            <p class="plan__switch-btn">Monthly</p>
            <p class="plan__switch-btn plan__switch-btn_active">Annually</p>
        </div>
        <div class="plan__item">
            <p class="plan__item-name">Monthly plan</p>
            <div class="sum sum_centered">
                <span class="sum__currency sum__currency_30">$</span>
                <span class="sum__amount sum__amount_68">199</span>
                <span class="sum__period sum__period_22">/year</span>
            </div>
            <p class="plan__item-desc">Billed monthly</p>
            <button class="btn plan__item-btn">Sign up</button>
        </div>
        <div class="plan__item plan__item_large">
            <div class="discount-mark">
                <p class="discount-mark__block discount-mark__block_yellow">SAVE 60%</p>
                <p class="discount-mark__block">MOST POPULAR</p>
            </div>
            <p class="plan__item-name">Monthly plan</p>
            <div class="sum sum_centered">
                <span class="sum__currency sum__currency_30">$</span>
                <span class="sum__amount sum__amount_68">199</span>
                <span class="sum__period sum__period_22">/year</span>
            </div>
            <p class="plan__item-desc">Billed monthly</p>
            <button class="btn plan__item-btn plan__item-btn_yellow">Sign up</button>
        </div>
    </div>

</body>

</html>