.popup {
    display: none;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__with-caption {
        display: flex;
        align-items: center;
    }
    
    &__block {
        display: flex;
        flex-flow: column;
        align-items: center;
        box-sizing: border-box;

        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0 32px 54px 0 rgba(0, 0, 0, 0.28);

        &_min {
            padding: 75px 96px;
            width: 531px;
        }

        &_max {
            padding: 50px;
            padding-bottom: 30px;
            width: 647px;
        }
    }

    &__test-container {
        width: 100vw;
        height: 100vh;
        background-color: lightblue;
    }

    &__overlay {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        &_dark {
            background-color: rgba($black, 0.72);
        }

        &_blur {
            background: url('../../../img/sales-pages/background-blurred.jpg') no-repeat center;
            background-size: cover;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 29px;

        text-align: center;
        font-size: 28px;
        font-weight: bold;

        &_close-to-desc {
            margin-bottom: 10px;
        }
    }

    &__select-wrapper {
        position: relative;
        margin-bottom: 28px;
        width: 94%;

        &::after {
            content: '';
            z-index: 1;
            position: absolute;
            right: 10px;
            top: calc(50% - 5px);
            width: 23px;
            height: 10px;
            transform: rotate(45deg);
            background: url('../../../img/sales-pages/icons/down-icon.svg') no-repeat center;
            background-size: 23px 10px;
        }
    }

    &__select {
        padding: 15px 17px;
        width: 100%;
        font-size: 16px;
        color: #4c515b;

        border-radius: 3px;
        border: solid 1px #becbd8;
        -webkit-appearance: none;
        -moz-appearance: none;


        &:hover {
            cursor: pointer;
        }
    }

    &__button-area {
        display: flex;
        justify-content: space-between;
        width: 94%;
    }

    &__btn {
        padding-top: 11px;
        padding-bottom: 10px;

        text-align: center;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.75;
        color: $dark-grey;

        border-radius: 4px;
        border: none;
        @include trans(0.3s);

        &_select {
            width: 58%;
            background-color: $sunflower-yellow;
        }

        &_cancel {
            width: 40%;
            background-color: #ebebeb;
        }

        &:hover {
            cursor: pointer;
            box-shadow: rgba(115, 94, 0, 0.24) 10px 16px 40px 0;
            transform: scale(1.007);
        }
    }

    &__icons-block {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        padding-top: 60px;
        width: 18%;

        font-size: 14px;
        font-weight: bold;
        font-style: italic;

        background-position: center top;
        background-repeat: no-repeat;
        background-size: 40px auto;

        &_1 {
            background-image: url('../../../img/sales-pages/icons/shield-icon.svg');
            background-size: 48px auto;
        }

        &_2 {
            background-image: url('../../../img/sales-pages/icons/stars-icon.svg');
            background-position: center 16px;
            background-size: 69px auto;
        }

        &_3 {
            background-image: url('../../../img/sales-pages/icons/globe-icon.svg');
            background-size: 55px auto;
        }

        &_4 {
            background-image: url('../../../img/sales-pages/icons/lightening-icon.svg');
            background-size: 39px auto;
        }
    }
}

.popup-caption {
    padding: 25px;
    width: 248px;
    color: #fff;
    font-size: 16px;

    &__title {
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: bold;
    }

    &__desc {
        margin-bottom: 19px;
    }

    &__author {
        font-weight: bold;
    }

    &__position {
        margin-bottom: 14px;
    }

    &__signature {
        width: 69.6px;
        height: 57px;
    }
}

@media(max-width: $md) {
    .popup-caption {
        display: none;
    }
}

@media(max-width: $sm) {
    .popup {
        width: 95%;

        &__block {
            &_min {
                padding: 25px 10px;
                width: 100%;
            }

            &_max {
                padding: 25px 10px;
                width: 100%;
            }
        }

        &__with-caption {
            display: block;
        }

        &__title {
            font-size: 22px;
        }

        &__icons-block {
            display: none;
        }
    }
}