.add-videos {

  &__wrap {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 48%;
    margin-right: 4%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &-video {
      position: relative;
      width: 45%;
      height: 100%;
      @include shadow;
      
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.2) url("../img/icons/play.svg") no-repeat center;
        background-size: 40px;
        border-radius: 4px;
      }
    }

    &-video-cap {
      width: 100%;
      display: block;
      border-radius: 4px;
    }

    &-desc {
      width: 52%;
    }

    &-title {
      display: block;
      margin-bottom: 5px;
      @include HelveticaNeue-Bold(18px, 1.2);
      color: $dark-grey;
    }

    &-text {
      margin-bottom: 5px;
      @include HelveticaNeue(16px, 1.2);
      color: rgba(21, 21, 21, 0.6);
    }
  }

  &__item_list {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }

    .add-videos__item-video {
      width: 165px;
    }

    .add-videos__item-desc {
      width: calc( 100% - 200px );
    }

    .add-videos__item-text {
      font-size: 12px;
    }
  }
}

@media (max-width: $md) {
  .add-videos {
    &__item-desc {
      width: 45%;

      b {
        font-size: 17px;
      }
    }

    &__item-video {
      width: 52%;
    }
  }
}

@media (max-width: $sm) {
  .add-videos {
    margin-bottom: 15px;

    &__wrap {
      flex-wrap: wrap;
      padding: 0 15px;
    }

    &__item {
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
      padding: 15px 0;
      border-bottom: 1px solid $white-three;

      &:last-child {
        border-bottom: none;
      }
    }

    &__item-video {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }

    &__item-desc {
      width: 100%;

      b {
        font-size: 16px;
      }

      p {
        margin-top: 5px;
        font-size: 14px;
      }
    }

    &__item_list {
      .add-videos__item-video {
        width: 100%;
      }

      .add-videos__item-desc {
        width: 100%;
      }
    }
  }
}