<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TEC REVIEW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/normalize.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body>

    <div class="add-videos">
        <div class="add-videos__wrap">
            <div class="add-videos__item">
                <a href="#" class="add-videos__item-video">
                    <img src="img/photos/get-started-bg.jpg" alt="" class="add-videos__item-video-cap">
                </a>
                <div class="add-videos__item-desc">
                    <b class="add-videos__item-title">P1 Lecture/Theory I</b>
                    <p class="add-videos__item-text">Additional P1 Video</p>
                </div>
            </div>
            <div class="add-videos__item">
                <a href="#" class="add-videos__item-video">
                    <img src="img/photos/get-started-bg.jpg" alt="" class="add-videos__item-video-cap">
                </a>
                <div class="add-videos__item-desc">
                    <b class="add-videos__item-title">P1 Lecture/Theory I</b>
                    <p class="add-videos__item-text">Additional P1 Video</p>
                </div>
            </div>
            <div class="add-videos__item">
                <a href="#" class="add-videos__item-video">
                    <img src="img/photos/get-started-bg.jpg" alt="" class="add-videos__item-video-cap">
                </a>
                <div class="add-videos__item-desc">
                    <b class="add-videos__item-title">P1 Lecture/Theory I</b>
                    <p class="add-videos__item-text">Additional P1 Video</p>
                </div>
            </div>
            <div class="add-videos__item">
                <!-- video in popup  <a href="https://youtu.be/T5wlfMKLMk4" class="add-videos__item-video" data-lity> -->
                <a href="#" class="add-videos__item-video">
                    <img src="img/photos/get-started-bg.jpg" alt="" class="add-videos__item-video-cap">
                </a>
                <div class="add-videos__item-desc">
                    <b class="add-videos__item-title">P1 Lecture/Theory I</b>
                    <p class="add-videos__item-text">Additional P1 Video</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../../js/jquery-ui.min.js"></script>
    <script src="../../../js/scripts.js"></script>
</body>

</html>