<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TEC REVIEW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/normalize.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body>

    <div class="sum">
        <div class="sum sum_old">
            <span class="sum__currency">$</span>
            <span class="sum__amount">299</span>
            <span class="sum__period">/year</span>
        </div>
        <span class="sum__currency">$</span>
        <span class="sum__amount">199</span>
        <span class="sum__period">/year</span>
    </div>
</body>

</html>