.textarea {
    margin-bottom: 20px;

    &__label {
        display: block;
        margin-bottom: 6px;
        @include AvenirNext-Bold(14px, 1);
        color: $brownish-grey-two;
        text-transform: uppercase;

        &_small {
            text-transform: none;
        }

        &_small-black {
            text-transform: none;
            color: #000;
        }
    }

    &__field {
        width: 100%;
        min-height: 64px;
        box-sizing: border-box;
        padding: 12px 15px;
        border: 1px solid $white-two;
        border-radius: 3px;
        @include AvenirNext-Regular(18px, 1);
        color: $brownish-grey-two;

        &::placeholder {
            color: rgba($brownish-grey-two, 0.5);
        }

        &:disabled {
            background-color: #f7f7f7;
        }
    }
}

@media (max-width: $md) {
    .textarea {
    
        &__label {
            font-size: 12px;

            &_small {
                font-size: 14px;
            }
        }
    
        &__field {
            font-size: 16px;
        }
    }
}
