.add-videos {

  &__wrap {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 48%;
    margin-right: 4%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &-video {
      position: relative;
      width: 45%;
      height: 100%;
      @include shadow;
      
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.2) url("../img/icons/play.svg") no-repeat center;
        background-size: 40px;
        border-radius: 4px;
      }
    }

    &-video-cap {
      width: 100%;
      display: block;
      border-radius: 4px;
    }

    &-desc {
      width: 52%;

      b {
        margin-bottom: 5px;
        @include HelveticaNeue-Bold(18px, 1.2);
        color: $dark-grey;
      }

      p {
        margin-bottom: 5px;
        @include HelveticaNeue(16px, 1.2);
        color: rgba(21, 21, 21, 0.6);
      }
    }
  }
}