body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext";
}


h1 {
  margin: 0;
  @include AvenirNext-Bold(34px, 1.2);
  color: $black;
}

p {
  margin: 0;
  @include HelveticaNeue();
}

.btn {
  border: none;
  padding: 12px 30px;
  background-color: $sunflower-yellow;
  border-radius: 4px;
  @include AvenirNext-Bold(16px, 1.3);
  color: $dark-grey;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;

  &__members-home {
    background-color: rgba($sunflower-yellow, 0.73);
    padding: 3px 5px;
    padding-left: 20px;
    @include AvenirNext-Bold(14px, 1);
    color: $dark-grey;
    text-transform: none;
    border-radius: 0;
    background-image: url("../img/icons/play-black.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 7px center;
  }

  &__subject {
    position: absolute;
    left: 40px;
    bottom: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: $sunflower-yellow;
    @include HelveticaNeue-Bold(18px, 1);
    text-transform: none;

    &_video {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $charcoal;
      color: $charcoal;
      font-weight: bold;
      @include AvenirNext-Bold(16px, 1);
    }
  }

  &_leave-reply {
    text-transform: none;
  }
}

.wrap {
  width: 100%;
  display: flex;
}

.content {
  width: 80%;

  &_common {
    width: 100%;
  }
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 40px 0;

  &_partial {
    box-sizing: border-box;
    margin: 0 125px;
    width: auto;
  }
}

.title-block {
  h1 {
    margin-bottom: 15px;
  }

  &__ribbon {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding: 3px;
    background-color: $sunflower-yellow;
    @include AvenirNext-Bold(14px, 1);
    color: $dark-grey;

    &_level {
      margin-bottom: 30px;
      padding: 7px;
      padding-left: 65px;
      border-radius: 4px;
    }

    &-img {
      position: absolute;
      left: 8px;
      top: -25px;
      width: 50px;
      height: auto;
    }
  }

  &__text {
    line-height: 1.3;
    margin-bottom: 15px;
  }
}

.collapse-btn {
  &:hover {
    cursor: pointer;
  }
}

.collapse-area {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mobile {
  &__hidden {
    display: block;
  }

  &__visible {
    display: none;
  }
}

video {
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $lg) {
  .container {
    width: 935px;

    &_partial {
      width: 935px;
      margin: 0 auto;
    }
  }

  .content {
    width: 100%;
  }
}

@media (max-width: $md) {
  .container {
    width: 92.5%;

    &_partial {
      width: 92.5%;
    }
  }
}

@media (max-width: $sm) {
  .container {
    width: 100%;
    padding: 0 15px;

    &_partial {
      width: 100%;
      padding: 0 15px;
    }
  }

  h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .btn {
    &__subject {
      position: static;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .mobile {
    &__hidden {
      display: none;
    }
  
    &__visible {
      display: block;
    }
  }
}