.members-home {
  &__block-title {
    margin-bottom: 10px;
    @include HelveticaNeue-Bold(18px, 1.2);
    color: $dark;
  }

  &__latest-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__latest-item {
    position: relative;
    top: 0;
    width: 49%;
    height: 240px;
    border-radius: 4px;
    @include shadow;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
      top: -10px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
    }

    video {
      height: 100%;
    }
  }

  &__latest-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 50%;
  }

  &__latest-date {
    display: inline-block;
    width: auto;
    padding: 3px 5px;
    background-color: rgba($dark, 0.73);
    color: $marigold;
    @include AvenirNext-Bold(14px, 1);
  }

  &__latest-title {
    width: auto;

    span {
      display: block;
      padding: 0 5px;
      background-color: rgba($dark, 0.73);
      color: $white;
      @include AvenirNext-Bold(18px, 1.1);
    }
  }
}

.subject {
  margin-bottom: 70px;

  &__main {
    position: relative;
    z-index: 2;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    @include shadow;
  }

  &__text-block {
    position: relative;
    width: 43%;
    padding: 25px 40px;
    padding-bottom: 55px;
    background-color: $dark-grey;
    color: $white;
  }

  &__video-block {
    width: 57%;
    position: relative;

    video {
      display: block;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 10px;
    @include HelveticaNeue-Bold(28px, 1.2);
  }

  &__desc {
    margin-bottom: 10px;
    @include HelveticaNeue(16px, 1.1);
    opacity: 0.6;
  }

  &__collapse-wrap {
    margin-top: -5px;
  }
}