.members-home {
  &__block-title {
    margin-bottom: 10px;
    @include HelveticaNeue-Bold(18px, 1.2);
    color: $dark;
  }

  &__latest-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__latest-item {
    position: relative;
    top: 0;
    width: 49%;
    height: 240px;
    border-radius: 4px;
    @include shadow;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
      top: -10px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
    }

    video {
      height: 100%;
    }
  }

  &__latest-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 50%;
  }

  &__latest-date {
    display: inline-block;
    width: auto;
    padding: 3px 5px;
    background-color: rgba($dark, 0.73);
    color: $marigold;
    @include AvenirNext-Bold(14px, 1);
  }

  &__latest-title {
    width: auto;

    span {
      display: block;
      padding: 0 5px;
      background-color: rgba($dark, 0.73);
      color: $white;
      @include AvenirNext-Bold(18px, 1.1);
    }
  }
}

.subject {
  margin-bottom: 70px;

  &__main {
    position: relative;
    z-index: 2;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    @include shadow;
  }

  &__text-block {
    position: relative;
    width: 43%;
    padding: 25px 40px;
    padding-bottom: 55px;
    background-color: $dark-grey;
    color: $white;
  }

  &__video-block {
    width: 57%;
    position: relative;

    video {
      display: block;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 10px;
    @include HelveticaNeue-Bold(28px, 1.2);
  }

  &__desc {
    margin-bottom: 10px;
    @include HelveticaNeue(16px, 1.1);
    opacity: 0.6;
  }

  &__collapse-wrap {
    margin-top: -5px;
  }

  /*SUB-BLOCK*/
  &__sub {
    position: relative;
    top: -5px;
    padding: 30px 40px;
    padding-top: 80px;
    border-radius: 4px;
    @include shadow;
    background-color: $dark-grey;

    &-wrap {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      width: 20%;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -13px;
        width: 100%;
        height: 1px;
        background-color: $charcoal-grey;
      }

      &::after {
        content: '';
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $charcoal-grey;
        box-shadow: 0 0 0 4px transparent, 0 0 0 2px transparent;
      }

      &:first-child {
        &::before {
          width: 50%;
          right: 0;
        }
      }

      &:last-child {
        &::before {
          width: 50%;
        }
      }

      &-title {
        position: absolute;
        top: -40px;
        width: 100%;
        @include AvenirNext-Bold(14px, 1);
        text-transform: uppercase;
        color: rgba($white, 0.6);
        text-align: center;
        transition: all 0.3s ease-in-out;
      }

      &-img {
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 0;
        filter: grayscale(100%);
        opacity: 0.6;
        transition: all 0.3s ease-in-out;

        &_1 {
          background-image: url("../img/badges/p1.png");
        }

        &_2 {
          background-image: url("../img/badges/p2.png");
        }

        &_3 {
          background-image: url("../img/badges/p3.png");
        }

        &_4 {
          background-image: url("../img/badges/p4.png");
        }

        &_5 {
          background-image: url("../img/badges/p5.png");
        }
      }

      &:hover {
        .subject__sub-item-title {
          color: $sunflower-yellow;
        }

        .subject__sub-item-img {
          filter: grayscale(0%);
          opacity: 1;
        }

        &::after {
          top: -20px;
          background-color: $sunflower-yellow;
          border: 3px solid $dark-grey;
          border-radius: 50%;
          box-shadow: 0 0 0 4px $charcoal-grey, 0 0 0 2px $dark-grey;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}