.mini-page {
    display: flex;

    &__left-column {
        position: relative;
    }

    &__side-img {
        display: block;
        height: calc(100vh - 94.08px);
        display: block;
        border: none;

    }

    &__get-acc {
        position: absolute;
        bottom: 9.7%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 253px;
        text-align: center;
    }

    &__get-acc-title {
        margin-bottom: 13px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: $white;
    }

    &__get-acc-btn {
        box-sizing: border-box;
        padding: 15px 69px;
        border-radius: 4px;
        box-shadow: 0 15px 24px 0 rgba(0, 0, 0, 0.35);
        border: solid 1px $sunflower-yellow;
        background: transparent;

        font-size: 16px;
        font-weight: bold;
        line-height: 1.75;
        text-align: left;
        color: $sunflower-yellow;
        text-transform: uppercase;
        @include trans(0.3s);

        &:hover {
            cursor: pointer;
            background: $sunflower-yellow;
            color: white;
        }
    }

    &__right-column {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 94.08px);
        width: 100%;
    }

    &__content {
        display: flex;
        flex: 1;
        height: calc(100vh - 94.08px - 120px);
        align-items: center;
    }
}

.curriculum {
    width: 682px;
    margin: auto;
    line-height: 1.35;
    font-family: 'AvenirNext';

    &__img {
        height: 257px;
    }

    &__title {
        text-align: center;
    }

    &__desc {
        margin-bottom: 30px;
        font-size: 24px;
        text-align: center;
        color: $dark-grey;
    }

    &__content {
        display: flex;
    }

    &__img {
        margin-right: 30px;
    }

    &__text {
        width: 353px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-style: italic;
        text-align: left;
        color: $dark-grey;
    }

    &__str {
        margin-bottom: 29px;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
    }

    &__btn {
        padding: 15px 20px;
        width: 256px;
        border: 1px solid transparent;

        border-radius: 4px;
        background: $sunflower-yellow url('../img/icons/download.svg') no-repeat calc(100% - 20px) center;
        background-size: 16px 19px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: $dark-grey;
        text-shadow: 0 2px 26px rgba(122, 99, 0, 0.44);
        @include trans(0.3s);

        &:hover {
            cursor: pointer;
            background-position: calc(100% - 20px) calc(50% + 3px);
            border-color: #25262a;
        }
    }
}

.optin-email {
    width: 78%;
    margin: auto;
    line-height: 1.375;
    text-align: center;

    &__box {
        margin-bottom: 45px;
        padding-top: 35px;
        padding-bottom: 44px;
        border-radius: 4px;
        background-color: rgba(255, 208, 1, 0.09);
        border: solid 1px $sunflower-yellow;
    }

    &__title {
        margin: auto;
        margin-bottom: 5px;
        width: 86%;
        text-align: center;
        font-size: 34px;
        font-weight: bold;
    }

    &__desc {
        margin: auto;
        width: 64%;
        font-size: 22px;
        text-align: center;
        color: $dark-grey;
    }

    &__sub-title {
        margin: auto;
        margin-bottom: 5px;
        width: 86%;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: $dark-grey;
    }

    &__desc-second {
        margin: auto;
        margin-bottom: 21px;
        width: 88%;
        font-size: 18px;
        text-align: center;
        color: $dark-grey;
    }

    &__btn {
        position: relative;
        padding: 16.8px 40px 14.8px 35px;
        margin: auto;
        width: 273.1px;
        border-radius: 4px;
        background-color: $sunflower-yellow;

        font-weight: bold;
        text-align: center;
        color: $dark-grey;
        text-shadow: 0 2px 26px rgba(122, 99, 0, 0.44);
        border: 1px solid transparent;
        @include trans(0.3s);

        &::after {
            content: '→';
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 24px;
            @include trans(0.3s);
        }

        &:hover {
            border: 1px solid $dark-grey;
            cursor: pointer;

            &::after {
                right: 18px;
            }
        }
    }
}

.confirmation {
    width: 68%;
    margin: auto;
    text-align: center;
    line-height: 1.35;

    &__title {
        margin-bottom: 26px;
        padding-bottom: 25px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            height: 1px;
            width: 114px;
            background: rgba(151, 151, 151, 0.34);
        }
    }

    &__desc {
        font-size: 22px;
        text-align: center;
        color: $dark-grey;
    }

    &__marked {
        font-weight: bold;
        border-bottom: 1px solid $sunflower-yellow;
    }
}

.login-form {
    margin: auto;
    width: 470px;
    line-height: 1.375;
    text-align: center;

    &__title {
        margin-bottom: 6px;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
    }

    &__desc {
        margin-bottom: 42px;
        font-size: 22px;
        text-align: center;
        color: $dark-grey;
    }

    &__input-area {
        &_password {
            position: relative;
        }
    }

    &__new-pass {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        text-align: left;
        color: $cool-grey;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__label {
        display: block;
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: $dark-grey;
    }

    &__input {
        box-sizing: border-box;
        margin-bottom: 26px;
        padding: 12.5px 16px;
        width: 100%;
        height: 50px;
        border-radius: 3px;
        border: solid 1px #becbd8;

        opacity: 0.4;
        font-family: AvenirNext;
        font-size: 18px;
        text-align: left;
        color: $gunmetal;

        &:last-of-type {
            margin-bottom: 32px;
        }
    }

    &__btn {
        padding: 10.5px 64px;
        border-radius: 4px;
        background-color: $sunflower-yellow;
        border: solid 1px $sunflower-yellow;

        font-size: 16px;
        font-weight: bold;
        line-height: 1.75;
        text-align: left;
        color: $dark-grey;
        @include trans(0.3s);

        &:hover {
            border-color: $dark-grey;
            cursor: pointer;
        }
    }
}

@media (max-width: $lg) {
    .mini-page {
        &__side-img {
            width: 404px;
            height: auto;
        }

        &__right-column {
            height: auto;
        }

        &__content {
            height: auto;
            width: 90%;
            margin: auto;
        }
    }

    .curriculum {
        width: 100%;
        text-align: center;

        &__content {
            width: 100%;
        }

        &__img {
            display: none;
        }
        
        &__text {
            width: auto;
            text-align: center;
        }
    }

    .optin-email {
        width: 100%;
    }

    .confirmation {
        width: 521px;

        &__title {
            margin-bottom: 6px;
            padding-bottom: 15px;
        }

        &__desc {
            line-height: 30px;
        }
    }
}

@media (max-width: $md) {
    .mini-page {
        &__side-img {
            width: 263px;
            height: calc(100vh - 94.08px);
        }

        &__get-acc-btn {
            padding: 10px 47px;
        }
    }

    .optin-email {
        &__box {
            margin-bottom: 25px;
            padding: 15px 0;
        }

        &__title {
            width: 100%;
            font-size: 25px;
        }

        &__desc {
            width: 93%;
            font-size: 18px;
        }

        &__sub-title {
            width: 100%;
            font-size: 20px;
        }

        &__desc-second {
            width: 100%;
            font-size: 16px;
        }
    }

    .login-form {
        width: 350px;

        &__title {
            font-size: 28px;
        }

        &__desc {
            margin-bottom: 15px;
        }

        &__input {
            margin-bottom: 15px;
            height: 40px;

            &:last-of-type {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: $sm) {
    .mini-page {
        
    }
}