.syllabus {
  &__header {
    background-color: $dark-grey;
    background-image: url("../img/photos/get-started-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-fade {
      display: flex;
      justify-content: space-between;
      background-color: rgba($dark-grey, 0.6);
      padding: 20px 40px;
      padding-bottom: 10px;
      color: $white;
    }

    &-img {
      position: relative;
      bottom: -30px;
      width: 17%;

      img {
        width: 100%;
      }
    }

    &-text-block {
      width: 80%;
      padding: 30px 0;
    }

    &-title {
      margin: 0;
      margin-bottom: 15px;
      @include HelveticaNeue-Bold(22px, 1.1);
    }

    &-text {
      @include HelveticaNeue(16px, 1.2);
    }
  }

  &__item {
    padding: 0 25px;
    padding-left: 75px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 35px;
      width: 5px;
      background-color: $white-five;
    }

    &::after {
      content: '';
      position: absolute;
      top: 37px;
      left: 31px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $white-five;
    }

    &:first-child {
      &::before {
        top: 37px;
      }
    }

    &:last-child {
      &::before {
        bottom: 35px;
      }
    }

    &-wrap {
      padding: 35px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid rgba($black, 0.18);
    }

    &:last-child {
      .syllabus__item-wrap {
        border-bottom: none;
      }
    }

    &-text {
      width: 68%;
    }

    &-title {
      display: block;
    }

    &-note {
      display: inline-block;
      padding: 5px 7px;
      margin-bottom: 10px;
      @include AvenirNext-Bold(11px, 1);
      color: $dark-grey;
      background-color: $white-two;
    }

    &-video {
      position: relative;
      display: flex;
      align-items: center;
      width: 34%;

      video {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
      }
    }

    &-list {
      padding: 0;
      padding-left: 16px;
      margin: 10px 0;
    }

    /*ACTIVE STATE*/

    &_active {
      background-color: rgba($sunflower-yellow, 0.19);
      border-top: 1px solid $sunflower-yellow;
      border-bottom: 1px solid $sunflower-yellow;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      &::after {
        left: 33px;
        width: 9px;
        height: 9px;
        background-color: $sunflower-yellow;
        box-shadow: 0 0 0 2px $white, 0 0 0 6px rgba($sunflower-yellow, 0.4);
      }

      .syllabus__item-wrap {
        border-bottom: none;
      }
    }
  }
}