.video-page {
  &__video-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .title-block {
      width: 30%;
    }

    .video-block {
      width: 65%;
    }
  }

  &__desc-block {
    margin-bottom: 50px;
  }

  &__desc-title {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba($black, 0.1);
    @include AvenirNext-Bold(20px, 1.1);
    color: $charcoal;
  }

  &__desc-text {
    margin: 15px 0;
    @include AvenirNext-Regular(16px, 1.2);
  }

  &__tabs {
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
  }
}

/*TABS*/
.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-tabs .ui-tabs-nav {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  border: none;
  background-color: transparent;

  a {
    position: relative;
    bottom: -1px;
    padding: 20px 25px !important;
    padding-bottom: 17px;
    border-bottom: 3px solid transparent;
    @include HelveticaNeue-Bold(16px, 1);
    color: $warm-grey-two;
    outline: none;
  }
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  border-color: $sunflower-yellow !important;
  color: $dark-grey !important;
}
