.video-block {
  position: relative;
  @include shadowVideo;

  video {
    width: 100%;
    display: block;
  }

  &__cap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &_box {
      background: rgba(0, 0, 0, 0.2) url("../img/icons/play.svg") no-repeat center;
      background-size: 11.7% 15.5%;
    }

    &_round {
      background: rgba(0, 0, 0, 0.2) url("../img/icons/play-round-icon.svg") no-repeat center;
      background-size: 40px 40px;
      border-radius: 4px;
    }
  }
}