.video-page {
  &__video-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .title-block {
      width: 30%;
    }

    .video-block {
      width: 65%;
    }

    &_common {
      margin-bottom: 80px;

      &_1 {
        flex-direction: column;
        align-items: center;

        .title-block {
          width: 50%;
          margin-bottom: 25px;
          text-align: center;
        }
      }
    }
  }

  &__desc-block {
    margin-bottom: 50px;

    & > .video-page__desc-texts {
      max-height: 177px;
    }
  }

  &__desc-title {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba($black, 0.1);
    @include AvenirNext-Bold(20px, 1.1);
    color: $charcoal;
    font-weight: bold;
  }

  &__desc-text {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.357;
    color: $brownish-grey-two;

    &_cut {
      width: 75%;
    }
  }

  &__tabs {
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
  }

  /*VIDEO PAGE COMMON*/
  &_common-video {
    position: relative;
    z-index: 1;
  }

  &__desc-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    .video-page__desc-block {
      width: 63%;
      margin-bottom: 0;
    }
  }

  &__connect-block {
    width: 33%;
    align-self: flex-start;
    background-color: $dark-grey;
    background-image: url("../img/photos/get-started-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

    &-fade {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      background-color: rgba($dark-grey, 0.6);
      padding: 30px;
      color: $white;
    }
  }

  &__connect-desc {
    margin-bottom: 15px;
    @include AvenirNext-Regular(20px, 1.37);
  }
}

/*TABS*/
.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-tabs .ui-tabs-nav {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  border: none;
  background-color: transparent;

  a {
    position: relative;
    bottom: -1px;
    padding: 20px 25px !important;
    padding-bottom: 17px;
    border-bottom: 3px solid transparent;
    @include HelveticaNeue-Bold(16px, 1);
    color: $warm-grey-two;
    outline: none;
  }
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  border-color: $sunflower-yellow !important;
  color: $dark-grey !important;
}

@media (max-width: $lg) {
  .video-page {
    &__video-block {
      &_common_1 {
        .title-block {
          width: 65%;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .video-page {
    &__desc-text_cut {
      width: 100%;
    }

    &__video-block {
      align-items: flex-start;

      .video-block {
        width: 58%;
      }

      .title-block {
        width: 39%;
      }

      &_common_1 {
        align-items: center;

        .title-block {
          width: 85%;
        }

        .video-block {
          width: 65%;
        }
      }
    }
  }
}

@media (max-width: $sm) {
  .video-page {
    padding-bottom: 0;
    
    &__video-block {
      flex-wrap: wrap;
      margin-bottom: 0;

      .title-block {
        width: 100%;
      }

      .video-block {
        width: calc( 100% + 30px );
        box-shadow: none;
      }

      &_common_1 {
        .title-block {
          margin-bottom: 0;
        }
      }
    }

    &__desc-wrap {
      flex-wrap: wrap;
      margin-bottom: 20px;

      .video-page__desc-block {
        width: 100%;
      }
    }

    &__connect-block {
      box-sizing: border-box;
      width: 100%;
      margin-top: 20px;
    }

    &__desc-block {
      margin-bottom: 0;
  
      & > .video-page__desc-texts.collapse-area_video-page {
        max-height: 0;
      }
    }

    &__desc-title {
      padding: 0;
      font-size: 16px;
      line-height: 40px;
    }

    &__desc-text {
      font-size: 14px;
    }

    &__tabs {
      margin-left: -15px;
      margin-right: -15px;
      box-shadow: none;
    }

    &__connect-desc {
      text-align: center;
    }
  }

  .ui-tabs .ui-tabs-nav li a {
    padding: 15px !important;
    font-size: 14px;
  }
}

@media (max-width: $xs) {
  .ui-tabs .ui-tabs-nav li a {
    padding: 13px !important;
    font-size: 13px;
  }
}



