.yellow-box {
    position: relative;
    z-index: 2;
    padding-top: 46px;
    padding-bottom: 37px;
    width: 100%;
    background-color: $sunflower-yellow;
    box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.4);
    line-height: 1.375;

    &__wrapper {
        width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 4px;
        font-size: 23px;
        font-weight: bold;
        text-align: left;
        color: $dark-grey;
    }

    &__desc {
        font-size: 18px;
        text-align: left;
        color: $dark-grey;
    }

    &__btn {
        display: inline-block;
        position: relative;
        border-radius: 4px;
        border: solid 2px $black;
        background: transparent;
        padding: 15px 48px 15px 40px;
        @include trans(0.3s);
        font-weight: bold;
    
        &::after {
          content: '→';
          position: absolute;
          top: 49%;
          transform: translate(0, -50%);
          right: 20px;
          @include trans(0.3s);
      }
    
      &:hover {
          background: black;
          color: $sunflower-yellow;
          cursor: pointer;
    
          &::after {
              right: 16px;
          }
        }
      }
}

@media(max-width: $lg) {
    .yellow-box {
        &__wrapper {
            width: 935px;
            align-items: center;
        }
    }
}

@media(max-width: $md) {
    .yellow-box {
        &__wrapper {
            width: 92.5%;
        }

        &__text {
            width: 72%;
        }
    }
}

@media(max-width: $sm) {
    .yellow-box {
        padding: 0;

        &__wrapper {
            box-sizing: border-box;
            width: 100%;
            padding: 22px 25px 28px 25px;
            flex-direction: column;
        }
        
        &__text {
            width: 100%;
        }

        &__title {
            font-size: 18px;
        }

        &__desc {
            margin-bottom: 14px;
            font-size: 16px;
        }

        &__btn {
            width: 270px;

            &::after {
                content: none;
            }
        }
    }
}