<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MATERIALS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/normalize.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body>

    <section class="materials">
        <p class="materials__title">2-in-row</p>
        <div class="materials__list materials__list_2">
            <article class="materials__item materials__item_2">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_2">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_2">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_2">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
        </div>


        <p class="materials__title">3-in-row</p>
        <div class="materials__list">
            <article class="materials__item materials__item_3">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_3">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_3">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_3">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
        </div>

        <p class="materials__title">4-in-row</p>
        <div class="materials__list materials__list_4">
            <article class="materials__item materials__item_4">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_4">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_4">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
            <article class="materials__item materials__item_4">
                <div class="materials__item-img">
                    <img src="http://via.placeholder.com/180x203">
                </div>
                <p class="materials__item-title">Practitioner level 1-5 training program</p>
                <p class="materials__item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante velit, sodales maximus purus eu, egestas
                    congue elit. </p>
            </article>
        </div>
    </section>

</body>

</html>