$black: #000000;
$dark-grey: #25262a;
$warm-grey: #999999;
$sunflower-yellow: #ffd001;
$brownish-grey: #6e6e6e;
$light-gold: #ffd557;
$warm-grey-two: #888888;
$white: #ffffff;
$charcoal-grey: #464649;
$dark: #171d2a;
$marigold: #ffc401;
$charcoal: #333433;
$brownish-grey-two: #6a6a6a;
$white-two: #eaeaea;
$white-three: #ebebeb;
$greyish-brown: #505050;
$white-four: #f8f8f8;
$light-gold-two: #ffe259;
$pale-orange: #ffa751;
$cool-grey: #a1a6b0;
$black-two: #151515;
$greyish: #b1b1b1;
$white-five: #e0e0e0;
$gunmetal: #4c515b;
$pinkish-grey: #bababa;

$xs: 375px;
$sm: 767px;
$md: 1023px;
$lg: 1439px;

@mixin AvenirNext-Bold($fontSze: 14px, $lineHeight: 1.2) {
  font-size: $fontSze;
  line-height: $lineHeight;
  font-family: "AvenirNext";
  font-weight: bold;
}

@mixin AvenirNext-DemiBold($fontSze: 16px, $lineHeight: 1.2) {
  font-size: $fontSze;
  line-height: $lineHeight;
  font-family: "AvenirNext";
  font-weight: 600;
}

@mixin AvenirNext-Regular($fontSze: 14px, $lineHeight: 1.2) {
  font-size: $fontSze;
  line-height: $lineHeight;
  font-family: "AvenirNext";
  font-weight: 400;
}

@mixin HelveticaNeue-Bold($fontSze: 16px, $lineHeight: 1.2) {
  font-size: $fontSze;
  line-height: $lineHeight;
  font-weight: bold;
}

@mixin HelveticaNeue($fontSze: 16px, $lineHeight: 1.2) {
  font-size: $fontSze;
  line-height: $lineHeight;
}

@mixin shadow() {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
}

@mixin shadowVideo() {
  box-shadow: 0 32px 44px 0 rgba(0, 0, 0, 0.5);
}

@mixin square($side) {
  width: $side;
  height: $side;
}

@mixin round($side) {
  width: $side;
  height: $side;
  border-radius: 50%;
}

@mixin trans($time: 0.6s) {
  transition: all $time ease-in;
}

@mixin inversion($primary-color, $secondary-color) {
  background-color: $primary-color;
  border-color: $secondary-color;
  color: $secondary-color;
}

@mixin childToCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}