.home-long-top {
    position: relative;
    min-height: 700px;
    padding: 40px 0;
    overflow: hidden;

    &__text-block {
        display: inline-block;
        width: 557px;
    }

    &__title {
        margin-bottom: 13px;
    }

    &__desc {
        margin-bottom: 30px;
        font-size: 24px;
    }

    &__btn {
        text-transform: none;
        font-size: 20px;
    
        &::after {
            right: 13px;
        }

        &:hover {
            &:after {
                right: 10px;
            }
        }
    }

    &__img {
        position: absolute;
        top: 42px;
        left: calc(50% + 100px);
    }

    &__img-mobile {
        display: none;
    }
}

.home-long-quote {
    padding-top: 50px;
    padding-bottom: 60px;

    &__wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    &__img {
        width: 285px;
        height: 285px;
        margin-right: 28px;
    }

    &__img-capture {
        display: none;
    }

    &__text-block {
        width: 665px;
    }

    &__text {
        margin-bottom: 16px;
        font-size: 28px;
        color: $charcoal;
    }

    &__signature {
        font-size: 20px;
        font-weight: 900;
        font-style: italic;
        color: $charcoal;
    }
}

.home-long-stat {
    padding-top: 70px;
    padding-bottom: 75px;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 66px;
    }

    &__title {
        padding-top: 35px;
        padding-left: 54px;
        margin: 0;
        width: 435px;
        @include angle();
    }

    &__photo {
        position: relative;
        width: 643px;
        height: 398px;
        background: url('../../img/photos/home-long-stat__photo.png') no-repeat center;
        background-size: contain;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 240px;
            width: 184px;
            height: 78px;
            background: url('../../img/arrows/and-growing-weekly.svg') no-repeat center;
            background-size: contain;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    &__item {
        width: 47%;
        margin-bottom: 35px;
    }

    &__item-title {
        margin: 0;
        margin-bottom: 10px;
        font-size: 22px;
        color: $dark-grey;
        font-weight: bold;

        @include square();
    }

    &__item-desc {
        margin: 0;
        font-size: 20px;
        color: $gunmetal;
    }

    &__mobile-stat {
        display: none;
    }

    &__mobile-yellow {
        display: none;
    }
}

.who-is { 
    padding-top: 63px;
    padding-bottom: 70px;
    
    background: #ffd901; // temporary

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: block;
        margin-right: 44.5px;
        width: 347px;
        height: 456px;
    }

    &__title {
        margin-top: 8px;
        margin-bottom: 22px;
        font-weight: normal;
    }

    &__desc {
        margin-bottom: 1em;
        font-size: 20px;
        color: $dark-grey;
    }

}

.more-things {
    padding-top: 97px;
    padding-bottom: 113px;

    &__wrapper {
        display: flex;
    }

    &__text {
        margin-right: 38.5px;
    }

    &__img-wrapper {
        @include angle();

        &_second {
            @include angle();

            &::before {
                top: initial;
                left: initial;
                bottom: 0;
                right: 0;
            }

            &::after {
                top: initial;
                left: initial;
                bottom: 0;
                right: 0;
            }
        }
    }

    &__img {
        display: block;
        padding: 17.5px;
        width: 262px;
        height: 378px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 31px;
    }

    &__desc {
        margin-bottom: 1em;
        font-size: 20px;
        color: #4d5059;
        @include square();
        
        &::before {
            top: 7px;
        }
    }

}

@media (max-width: $lg) {
    .home-long-top {
        min-height: 500px;
        padding-top: 80px;
        padding-bottom: 20px;

        &__text-block {
            width: 458px;
        }

        &__title {
            margin-bottom: 22px;
        }

        &__desc {
            margin-bottom: 21px;
            font-size: 22px;
        }

        &__btn {
            font-size: 18px;
        }

        &__img {
            left: calc(50% + 22px);
            height: 450px;
        }
    }

    .home-long-quote {
        padding-top: 20px;
        padding-bottom: 20px;

        &__img {
            width: 255px;
            height: 255px;
            margin-right: 21px;
        }

        &__text {
            font-size: 22px;
        }

        &__signature {
            font-size: 18px;
        }
    }

    .home-long-stat {
        padding-top: 20px;
        padding-bottom: 30px;

        &__top {
            margin-bottom: 45px;
        }

        &__title {
            margin-top: 30px;
            padding-left: 37px;
            width: 340px;
        }

        &__photo {
            margin-right: -25px;
            width: 570px;
            height: 353px;
        }
    }

    .who-is {
        padding-top: 60px;
        padding-bottom: 90px;

        &__img {
            margin-right: 24px;
            width: 279px;
            height: 366px;
        }

        &__title {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    .more-things {
        padding-top: 83px;
        padding-bottom: 90px;

        &__text {
            margin-right: 30.5px;
        }

        &__title {
            padding-right: 16px;
            margin-bottom: 12px;
        }
    }
}

@media (max-width: $md) {
    .home-long-top {
        margin-bottom: -32px;
        padding: 0;
        padding-top: 37px;
        text-align: center;

        &__text-block {
            width: 100%;
        }

        &__title {
            width: 604px;
            margin: auto;
            margin-bottom: 13px;
        }

        &__desc {
            width: 468px;
            margin: auto;
            margin-bottom: 452px;
        }

        &__img {
            top: 223px;
            left: 50%;
            transform: translate(-50%, 0);
            height: 400px;
        }

        &__btn {
            box-sizing: border-box;
            width: 277px;
            height: 65px;
            padding: 0;
            line-height: 65px;
        }
    }

    .home-long-quote {
        padding-top: 58px;
        padding-bottom: 33px;
        text-align: center;
        background-color: $dark-grey;

        &__wrapper {
            flex-flow: column;
            align-items: center;
        }

        &__img-block {
            order: 2;
            display: flex;
            text-align: left;
            color: #fff;
        }

        &__img {
            width: 90px;
            height: 90px;
            margin-right: 13px;
        }

        &__img-capture {
            display: block;
        }

        &__img-name {
            font-weight: bold;
        }

        &__img-signature {
            width: 56px;
            height: 31px;
        }

        &__text-block {
            width: 78.6%;
        }

        &__text {
            margin-bottom: 33px;
            color: #fff;
        }

        &__signature {
            display: none;
        }
    }

    .home-long-stat {
        padding: 0 0 30px 0;

        &__top {
            margin-bottom: 20px;
        }

        &__title {
            width: 276px;
            margin-top: 19px;
        }

        &__photo {
            width: 450px;
            height: 280px;

            &::after {
                content: none;
            }
        }


    }

    .who-is {
        padding-top: 38px;
        padding-bottom: 127px;

        &__img {
            margin-right: 44px;
            width: 258px;
            height: 338px;
        }

        &__title {
            margin-bottom: 18px;
        }
    }

    .more-things {
        padding-top: 53px;
        padding-bottom: 25px;

        &__text {
            margin-right: 23px;
        }

        &__img {
            width: 224px;
            height: 323px;
        }

        &__title {
            padding-right: 0;
            margin-bottom: 32px;
        }
        
        &__desc {
            font-size: 16px;
        }
    }
}

@media (max-width: $sm) {
    .home-long-top {
        min-height: 0;
        padding-top: 22px;

        &__title {
            width: 100%;
            margin-bottom: 10px;
        }

        &__desc {
            width: 100%;
            margin-bottom: 18px;
            font-size: 18px;
        }

        &__img {
            display: none;
        }

        &__img-mobile {
            display: block;
            margin: 0 auto 20px;
            width: 90%;
        }

        &__btn {
            margin-bottom: 0;
            width: 277px;
        }
    }

    .home-long-quote {
        padding-top: 50px;
        padding-bottom: 25px;

        &__text-block {
            width: 90%;
        }

        &__text {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 1.22;
        }
    }

    .home-long-stat {
        padding-bottom: 0;
        background: rgba(0, 0, 0, 0.64);

        &__title {
            padding: 0;
            color: #fff;

            &::before {
                content: none;
            }

            &::after {
                content: none;
            }
        }

        &__photo {
            display: none;
        }

        &__list {
            margin-bottom: 16px;
        }

        &__item {
            margin-bottom: 0;
            width: 100%;
        }

        &__item-title {
            color: #fff;
            font-size: 18px;
            font-weight: normal;

            &::before {
                top: 6px;
            }
        }

        &__item-desc {
            display: none;
        }

        &__mobile-stat {
            display: flex;
            flex-grow: 1;
            border-top: solid 1px rgba(255, 255, 255, 0.3);  
        }

        &__mobile-stat-block {
            display: flex;
            flex-flow: column;
            align-items: center;

            padding: 20px 0;
            box-sizing: border-box;
            width: 33%;

            border-right: solid 1px rgba(255, 255, 255, 0.3);

            &:last-child {
                border-right: none;
            }
        }

        &__mobile-stat-number {
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            color: $sunflower-yellow;
        }

        &__mobile-stat-caption {
            opacity: 0.8;
            font-family: 'AvenirNext';
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
        }

        &__mobile-yellow {
            display: block;
            height: 53px;
            background: $sunflower-yellow url('../../img/arrows/and-growing-weekly.svg') no-repeat center -4px;
            background-size: 180px 45px;
        }
    }

    .who-is {
        padding-top: 26px;
        padding-bottom: 107px;
        background: #fff;

        &__wrapper {
            flex-flow: column;
            align-items: center;
        }

        &__img {
            order: 2;
            margin-right: 0;
            width: 100%;
            height: auto;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__desc {
            display: none;
        }
    }

    .more-things {
        padding-top: 0;
        padding-bottom: 79px;

        &__wrapper {
            flex-flow: column;
            align-items: center;
        }

        &__text {
            margin-right: 0;
        }

        &__img-wrapper {
            width: 100%;

            &::before {
                content: none;
            }

            &::after {
                content: none;
            }

            &_second {
                &::before {
                    content: none;
                }
    
                &::after {
                    content: none;
                }
            }
        }

        &__img {
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 0;
            margin-top: -20px;
        }

        &__text {
            margin: 0 -20px;
            padding: 10px 20px 40px 20px;
            background-color: $dark-grey;
        }

        &__title {
            display: none;
        }
        
        &__desc {
            font-size: 16px;
            color: #fff;

            &::before {
                top: 5px;
            }
        }
    }
}