.landing {
    &__top-block {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        padding-bottom: 100px;
    }

    &__text-block {
        width: 40%;
        padding-top: 20px;
    }

    &__commission {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 40%;
        padding: 30px 50px;
        @include shadowBlock;

        &-title {
            width: 100%;
            margin-bottom: 15px;
            @include AvenirNext-Regular(18px, 1.1);
            font-style: italic;
            color: $dark-grey;
            text-align: center;
        }

        &-amount {
            width: 100%;
            margin-bottom: 15px;
            @include AvenirNext-Regular(44px, 1.1);
            color: $dark-grey;
            text-align: center;
        }

        &-duration {
            width: 230px;
            margin: 0 auto;
            margin-bottom: 15px;
            padding: 15px;
            border-radius: 30px;
            @include AvenirNext-Regular(15px, 1);
            color: rgba($dark-grey, 0.6);
            text-align: center;
            @include shadowBlock;
            text-align: center;
        }

        &-link {
            width: 100%;
            align-self: flex-end;
            text-align: center;
            @include AvenirNext-Regular(14px, 1);
            color: $sunflower-yellow;
            text-transform: uppercase;

            a {
                cursor: pointer;
            }
        }
    }

    &__desc {
        margin-bottom: 20px;
        @include AvenirNext-Regular(18px, 1.3);
        color: $charcoal;
    }

    &__title-underline {
        position: relative;
        margin-bottom: 80px;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            left: calc( 50% - 38px );
            display: block;
            width: 75px;
            height: 5px;
            background-color: $sunflower-yellow;
        }
    }

    // HOW WORKS
    &__how-works {
        margin-bottom: 80px;
    }

    &__how-works-content {
        display: flex;
        justify-content: space-between;
    }

    &__how-works-item {
        width: 25%;
    }

    &__how-works-number {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        color: $dark-grey;
        text-align: center;

        p {
            position: relative;
            padding-top: 15px;
            padding-left: 20px;
            @include angle($color: $dark-grey);
            @include AvenirNext-Bold(48px, 1);
        }
    }

    &__how-works-desc {
        @include AvenirNext-Regular(22px, 1.3);
        color: $dark-grey;
        text-align: center;
    }

    //AFFILIATE
    &__affiliate {
        margin-bottom: 80px;
    }

    &__affiliate-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

        &_right {
            .landing__affiliate-desc {
                order: 1;
            }
        }
    }

    &__affiliate-desc {
        width: 40%;
    }

    &__affiliate-img {
        width: 55%;

        img {
            max-width: 100%;
        }
    }

    &__affiliate-title {
        position: relative;
        margin-bottom: 15px;
        @include square;
        @include AvenirNext-Bold(22px, 1);
        color: $black;
        
        &::before {
            top: 7px;
        }
    }

    &__affiliate-text {
        padding-left: 24px;
        @include AvenirNext-Regular(18px, 1.3);
        color: $charcoal;
    }

    // BOTTOM TEXT
    &__bottom-block {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    &__bottom-text {
        margin-bottom: 30px;
        text-align: center;
    }

    &__bottom-block-btn {
        display: block !important;
        margin: 0 auto;
        border-radius: 40px;
        text-transform: none;

        &::after {
            top: 25px !important;
        }
    }

    &__bottom-block-text {
        margin-top: 60px;
        text-align: center;
    }
}

@media (max-width: $lg) {
    .landing {
        &__title-underline {
            margin-bottom: 60px;
        }

        // HOW WORKS
        &__how-works {
            margin-bottom: 60px;
        }

        &__how-works-number {
            margin-bottom: 30px;

            p {
                font-size: 44px;
            }
        }

        &__how-works-desc {
            font-size: 20px;
        }

        //AFFILIATE
        &__affiliate {
            margin-bottom:60px;
        }
        
        &__affiliate-item {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: $md) {
    .landing {
        &__top-block {
            padding: 30px 0;
            padding-bottom: 80px;
        }

        &__title {
            width: 100%;
        }

        &__desc {
            font-size: 16px;
        }

        &__btn {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__title-underline {
            margin-bottom: 40px;
        }

        // HOW WORKS
        &__how-works {
            margin-bottom: 40px;
        }

        &__how-works-number {
            margin-bottom: 20px;

            p {
                font-size: 38px;
                @include angle($size1: 50px, $color: $dark-grey);
            }
        }

        &__how-works-desc {
            font-size: 16px;
        }

        //AFFILIATE
        &__affiliate {
            margin-bottom: 40px;
        }
        
        &__affiliate-item {
            margin-bottom: 30px;
        }

        &__affiliate-title {
            margin-bottom: 10px;
            font-size: 20px;
            
            &::before {
                top: 6px;
            }
        }

        &__affiliate-text {
            font-size: 16px;
        }

        // BOTTOM TEXT
        &__bottom-block {
            width: 85%;
            margin-bottom: 30px;
        }

        &__bottom-text {
            margin-bottom: 25px;
        }

        &__bottom-block-text {
            margin-top: 45px;
        }
    }
}

@media (max-width: $sm) {
    .landing {
        &__top-block {
            flex-wrap: wrap;
            padding: 20px 0;
            padding-bottom: 20px;
        }

        &__text-block {
            width: 100%;
            margin-bottom: 15px;
        }

        &__title {
            text-align: center;
        }

        &__desc {
            font-size: 14px;
            text-align: center;
        }

        &__btn {
            display: block;
            margin: 0 auto;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
        }

        &__commission {
            box-sizing: border-box;
            width: 100%;
            padding: 20px;

            &-title {
                font-size: 16px;
            }

            &-amount {
                font-size: 26px;
            }

            &-duration {
                font-size: 12px;
            }

            &-link {
                font-size: 11px;
            }
        }

        &__title-underline {
            margin-bottom: 25px;
        }

        // HOW WORKS
        &__how-works {
            margin-bottom: 20px;
        }

        &__how-works-content {
            flex-wrap: wrap;
        }

        &__how-works-item {
            width: 100%;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__how-works-number {
            margin-bottom: 15px;

            p {
                font-size: 32px;
                @include angle($size1: 45px, $color: $dark-grey);
            }
        }

        &__how-works-desc {
            font-size: 14px;
        }

        //AFFILIATE
        &__affiliate {
            margin-bottom: 25px;
        }

        &__affiliate-item {
            margin-bottom: 20px;
        }

        &__affiliate-desc {
            width: 100%;
        }

        &__affiliate-img {
            display: none;
        }

        &__affiliate-title {
            margin-bottom: 10px;
            font-size: 18px;
            
            &::before {
                top: 4px;
            }
        }

        &__affiliate-text {
            font-size: 14px;
        }

        // BOTTOM TEXT
        &__bottom-block {
            width: 100%;
            margin-bottom: 20px;
        }

        &__bottom-text {
            margin-bottom: 20px;
        }

        &__bottom-block-text {
            margin-top: 30px;
            font-size: 16px;
        }

        &__bottom-block-btn {
            width: auto;
            font-size: 16px !important;
        }
    }
}