<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logo line component preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/normalize.min.css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../../css/swiper.min.css">
    <link rel="stylesheet" href="../../../fonts/fonts.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>

<body>

    <div class="logos-line">
        <p class="logos-line__title">Eyal has been featured on:</p>
        <div class="logos-line__wrapper">
            <img src="http://via.placeholder.com/140x30" alt="" class="logos-line__logo">
            <img src="http://via.placeholder.com/140x30" alt="" class="logos-line__logo">
            <img src="http://via.placeholder.com/140x30" alt="" class="logos-line__logo">
            <img src="http://via.placeholder.com/140x30" alt="" class="logos-line__logo">
            <img src="http://via.placeholder.com/140x30" alt="" class="logos-line__logo">
        </div>
    </div>


<script src="../../../libs/jquery/dist/jquery.min.js"></script>
<script src="../../../js/jquery-ui.min.js"></script>
<script src="../../../libs/swiper/dist/js/swiper.min.js"></script>
<script src="../../../js/scripts.js"></script>
</body>

</html>